@import "tailwindcss";

@custom-variant dark (&:where(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark ::selection {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

::selection {
  background-color: rgba(99, 102, 241, 0.2);
  color: #1e1b4b;
}
